.sidebar-container {
  display: grid;
  grid-template-rows: auto 1fr;
  border-right: 1px solid #444;
  height: 100%;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.sidebar-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: auto;
}

.sidebar-container li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  text-decoration: none;
  text-align: left;
  font-size: 1.2rem;
  width: 100%;
  line-height: 1.5;
}

.sidebar-container li a:hover {
  background-color: #444;
  cursor: pointer;
}

.sidebar-header {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #444;
}

.import-tags-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
