@font-face {
  font-family: 'RuneScape-Plain-12';
  src: url('./assets/fonts/RuneScape-Plain-12.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Add more @font-face rules for different weights/styles if needed */

body {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #1b1a1a; /* keep background consistent beyond viewport */
}

#root {
  min-height: 100vh;
  font-family: 'RuneScape-Plain-12', Arial, sans-serif;
  background-color: #1b1a1a;
}

.unselectable-text {
  /* Standard property (modern browsers) */
  user-select: none;

  /* Safari */
  -webkit-user-select: none;

  /* Firefox */
  -moz-user-select: none;

  /* Internet Explorer/Edge */
  -ms-user-select: none;

  /* Optional: Change cursor to default arrow to indicate text is not interactive */
  cursor: default;
}

/* Hidden scrollbar */

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

main {
  padding-top: 60px; /* Height of the fixed nav-bar */
}
