.nav-bar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  inset-inline: 0;
  height: 60px;
  width: 100vw;

  background-color: #222;
  z-index: 1000;
  flex: wrap;
}

.nav-logo {
  font-size: 1.5rem;
  display: flex;
  font-weight: bold;
  width: 250px;
  justify-content: center;
  align-items: center;
}

.nav-button:hover {
  cursor: pointer;
  color: rgb(255, 255, 0);
}

.nav-import-button {
  width: 250px;
  display: flex;
  justify-content: center;
}

@media (max-width: 56em) {
  .nav-bar {
    justify-content: center;
  }
}

@media (max-width: 42em) {
  .nav-bar {
    flex-direction: column;
  }
}
