.nav-bar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  inset-inline: 0;
  height: 60px;
  width: 100vw;
  gap: 2rem;
  background-color: #222;
  z-index: 1000;
  padding: 0 2rem;
}

.nav-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 1.5rem;
  align-items: center;
}

.nav-container ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
}

.nav-container ul li a:hover {
  cursor: pointer;
  color: rgb(255, 255, 0);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
