.nav-bar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;

  top: 0;
  inset-inline: 0;
  height: 60px;
  width: 100vw;
  background-color: #222;
  z-index: 1000;
}

.nav-logo {
  font-size: 1.7rem;
  display: flex;
  font-weight: bold;
  width: 250px;
  place-content: center;
}

.nav-logo:hover {
  color: #eab308;
}

.nav-button {
  font-size: 1rem;
}

.nav-buttons-container {
  display: flex;
  gap: 1rem;
  padding-inline: 1rem;
}

@media (max-width: 42em) {
  .nav-bar {
    flex-direction: column;
    justify-content: center;
    height: 80px;
  }
}
